.everything{
    display: flex;
    width:100%;
    margin-bottom: 5px;
    padding: 0px 3px;
    cursor: pointer;
    align-items: center;
    justify-content:space-around;
    gap: 5px;
}
.everything h1{
    font-size: small;
    cursor: pointer;
    border-radius: 10px;
    /* padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em; */
    font-family:serif;
    font-weight: 400;
}
.all h1{
background-color: black;
color:white
}
.everything img{
width:15px;
height: 15px;
vertical-align: auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.content{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    cursor: pointer;
    width:32%;
}
.container img{
    height:170px;
    width:100%;
    border-radius: 10px;
    object-fit:cover ;
}
.container h1{
font-size: medium;
font-weight: 600;
}
.container p{
font-size: small;
font-weight: 600;
color: rgb(136, 132, 132);
}
