.SideBar{
    width:240px;
    height:100vh;
  
}

.items{
    margin-bottom: 10px;
  }
  
  .home{
    padding: 5px 5px;
    cursor: pointer;
  }
  .homes{
    padding: 10px 5px;
    cursor: pointer; 
  }
  .home img{
  padding-left: 10px;
  }
  .homes h1{
 padding-left: 10px;
  }
  
  